################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/podcasty/FileContentIndex/483a7ca4-1463-47bf-b741-0f948eaa4eb8.vsidx
